<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1.0"
    )
    title index
    link(
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="../static/css/essay.css"
    )
    link(
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css"
    )
    script(
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    )
    script(
      src="../static/js/essay.js"
    )
  body
    #the-essay
      nav.my-navbar.bg-dark
        if index.length !== 0
          .side-bar-toggler.button-nav.d-flex.d-sm-none.p-3
            i.fas.fa-bars
          h4.title.ml-sm-3
            a.unset(href="../index.html") Markdown Viewer
          .button-nav.d-flex.p-3
            i.fas.fa-search
        else
          h4.title.ml-3
            a.unset(href="../index.html") Markdown Viewer
          .button-nav.d-flex.p-3
            i.fas.fa-search
      
      .content.container
        .row
          //- toggle by display: block in style
          if index.length !== 0
            .side-bar.col-lg-3.col-sm-4.d-sm-block(style="display:none")
              ul.list-group.my-sm-2
                //- active
                each indexItem in index
                  li.index-item.list-group-item.d-flex.justify-content-between.align-items-center
                    a(href=indexItem.href) #{indexItem.title}
                    if indexItem.children.length !== 0
                      i.fas.fa-angle-left
                  if indexItem.children.length !== 0
                    li.list-group-item.index-item-sub(style="display:none")
                      ul
                        each subItem in indexItem.children
                          li
                            a(href=subItem.href) #{subItem.title}
            //- @click=hide sidebar
            .col-lg-9.col-sm-8.pt-2
              .card.mb-2
                  .card-body.markdown-body !{body}
          else
            .col.pt-2
              .card.mb-2
                  .card-body.markdown-body !{body}
